html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content {
  flex-grow: 2;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.footer {
  z-index: 1;
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}


.title {
  margin-top: 60px;
  margin-bottom: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: normal;
  display: flex;

}

.wrap {

  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.bikes {
  width: 620px;
  display: flex;
  flex-wrap: wrap;

}

.bike {

  margin-top: 45px;
  width: 280px;
  margin-right: 30px;
}

.bike__img-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #cecece;
  height: 250px;
  width: 250px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.bike__name {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;

}
.bike__name_big {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.bike__cost {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.bike__time {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.bike__info {
  margin-left: 50px;
}

.bike__rented {
  display: flex;
  margin-bottom: 30px;
}
.bike__list {
  margin-top: 30px;
}

.bike__text {
  line-height: 26px;
  font-size: 18px;
  margin-top: 50px;
}
.bike__code {
  line-height: 60px;
  font-size: 48px;
  margin-top: 15px;
}

.button {
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #3C1491;
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #3C1491;
  cursor: pointer;
}

.disabled {
  background-color: #888;
  border: 1px solid #888;
}

.button-wrapper{

  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.hidden {
  display: none;
}

.puncts__title {
  margin-bottom: 25px;
  line-height: 30px;
  font-size: 22px;
  margin-top: 45px;

}
.puncts__list {
  list-style-type: none;
  padding: 0;
}
.puncts__elem {
  margin-bottom: 15px;
}

.puncts__link {
  font-size: 18px;
  line-height: 26px;
  position: relative;
  text-decoration: none;
  color: #333333;
}
.active::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 6px;
  position: absolute;
  top: 5px;
  left: -15px;
  background-color: #3C1491;
}
.main__background-picture {

  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  background-image: url('/images/background.png');
  left: 0;
  top: 68px;
  bottom: 61px;
  position: absolute;
  max-height: 100%;
}

.main__backgound {
  height: 100%;
  background-color: rgba(22, 0, 69, 0.42);
}

.main__title {
  line-height: 60px;
  font-size: 48px;
  color: #fff;
  margin-bottom: 15px;
  padding-top: 100px;
}
.main__description {
  color: #fff;
  font-size: 18px;
  width: 764px;
  line-height: 30px;
  margin-bottom: 10px;
}
.main__buttons {
  display: flex;
  width: 433px;
  justify-content: space-between;
}
.main__content {
  margin-left: 172px;
}
.map {
  margin-top: 40px;
  width: 1170px;
  height: 600px;
}
.map__title {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 15px;
}
.map__point {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 30px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__fields {
  padding: 0;
  margin: 0;
  border: 0;
}
.form__text {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 5px;
}
.form__input {
  width: 370px;
  height: 42px;
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}
.pointer {
  position: absolute;
  right: -250px;
  top: 0;
  width: 240px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  line-height: 20px;
  font-size: 14px;
  color: #E30000;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pointer::after {
  content: "";
  position: absolute;
	width: 0;
	height: 0;
  top: 16px;
  left: -9px;
	border-top: 9px solid transparent;
	border-right: 9px solid #fff;
	border-bottom: 9px solid transparent;
}
.pointer::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 14px;
  left: -11px;
  border-top: 11px solid transparent;
  border-right: 11px solid rgba(0, 0, 0, 0.05);
  border-bottom: 11px solid transparent;
}
.form__input_red {
  border: 1px solid #E30000;
}
.form__error-area {
  position: relative;
}
.form__submit-area {
  display: flex;
  align-items: center;
}
.form__error {
  margin-top: 0;
  color: #e30000;
}
.form__link {
  vertical-align: middle;
  text-decoration: none;
  color: #0000FF;
  margin-left: 15px;
}

.title__login {
  line-height: 34px;
  font-size: 24px;
  margin-left: 30px;
  color: #808080;
  align-self: flex-end;
}

.card {
  width: 370px;
  max-height: 230px;
  border: 1px solid #CECECE;
  box-sizing: border-box;
  padding-bottom: 30px;
  padding-left: 30px;
}

.card__title {
  padding-left: 30px;
  padding-top: 20px;
  line-height: 30px;
  font-size: 24px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  margin-left: -30px;
  border-bottom: 1px solid #CECECE;
}

.card__number {
  line-height: 26px;
  font-size: 18px;
}

.card__date {
  margin-top: 5px;
  margin-bottom: 30px;
}
.no-data {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
}
