{{> header}}
<div class="center">
	<div class="title">Реквизиты карты</div>
	<form action="" class="form">
		<fieldset class="form__fields">
			<legend class="form__text">Номер карты</legend>
			<div class="form__error-area">
			<input type="text" class="form__input" id="cardNumber" value="{{cardRequisites.number}}"/>
			</div>
		</fieldset>
		<fieldset class="form__fields">
			<legend class="form__text">Срок действия</legend>
			<div class="form__error-area">
			<input type="text" class="form__input" id="cardDate" value="{{cardRequisites.date}}"/>
			</div>
		</fieldset>
		<fieldset class="form__fields">
			<legend class="form__text">CVV</legend>
			<div class="form__error-area">
			<input type="text" class="form__input" id="cvv" value="{{cardRequisites.cvv}}"/>
			</div>
		</fieldset>
		<input type="submit" class="button submit" />
	</form>
</div>
<script src="./js/card-requisites.js" charset="utf-8"></script>

{{> footer}}
