{{> header}}

<div>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголоввок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->

    <h3 class="title">{{title}}</h3>


  <div class="wrap">
    <div id="bikeList" class="bikes">
      <!-- Здесь необходимо отобразить карточки велосипедов -->
    </div>
    <div class="puncts">
      <div class="puncts__title">Пункты выдачи</div>
      <ul class="puncts__list">

        {{#pointersList}}
          <li class="puncts__elem">
            <a href="/catalog/{{_id}}" class="puncts__link {{#isActive}}active{{/isActive}}">{{address}}</a>
          </li>
        {{/pointersList}}
        <li class="puncts__elem">
          <a href="/catalog/" class="puncts__link {{^pointInfo}}active{{/pointInfo}}">Все пункты</a>
        </li>
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
      </ul>
    </div>
  </div>

  <div id="loadMore" class="button-wrapper hidden">
    <button type="button" class="button">Загрузить ещё</button>
  </div>

</div>
<script type="text/javascript" src="/js/api.js" > </script>
<script type="text/javascript" src="/js/catalog.js" ></script>
{{> footer}}
