{{> header}}
  <div class="main__background-picture">
    <div class="main__backgound">
      <div class="main__content">
      <div class="main__title">
        Сервис аренды велосипедов
      </div>
      <div class="main__description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Esse blanditiis illo aperiam voluptatibus at nobis impedit
         illum deserunt vero commodi voluptate optio excepturi quidem
         nostrum laboriosam hic quas voluptas, ut!
      </div>
      <div class="main__buttons">
        <a href="/catalog" class="button">Арендовать велосипед</a>
        <a href="/map" class="button">Найти пункт выдачи</a>
      </div>
    </div>
    </div>
  </div>
{{> footer}}
