{{> header}}
<div class="title">
  <div class="title__text">Личный кабинет</div>
  <div class="title__login">{{login}}</div>
</div>
<div class="wrap">
  <div class="bike__list">
    {{#orderList}}
      {{#bike}}
        <div class="bike__rented">
          <div class="bike__img-wrapper">
            <img src="/images/{{img}}" alt="{{name}}" class="bike__img" width="248">
          </div>
          <div class="bike__info">
            <div class="bike__name bike__name_big">{{name}}</div>
            <div class="bike__time">{{formatTotalTime}}</div>
            <div class="bike__cost">{{totalCost}}</div>
          {{/bike}}
            <a class="button" data-order-id="{{_id}}">Вернуть</a>
          </div>
        </div>
    {{/orderList}}
    {{^orderList}}
      <div class="no-data">Нет арендованных велосипедов</div>
    {{/orderList}}
  </div>
  <div class="card">

      <div class="card__title">Реквизиты карты</div>
    {{#cardRequisites}}
      <div class="card__number">{{number}}</div>
      <div class="card__date">{{date}}</div>
    {{/cardRequisites}}
    {{^cardRequisites}}
      <div class="no-data">Нет данных</div>
    {{/cardRequisites}}
      <a href="/card-requisites" class="button card__button">Изменить</a>

  </div>
</div>
<script src="/js/lk.js"></script>
{{> footer}}
