{{> header}}
<div class="center">
	<h3 class="title">Вход</h3>
	<form method="post" class="form">
		<label for="login" class="form__text">Логин</label>
		<input type="text" class="form__input" id="login" name="login" value="{{ login }}">

		<label for="password" class="form__text">Пароль</label>
		<input type="password" class="form__input" id="password" name="password">

		{{#isLoginError}}
			<p class="form__error">
				Неверные логин или пароль
			</p>
		{{/isLoginError}}
		<div class="form__submit-area">
			<button type="submit" class="button">Войти</button>
			<a href="/registration" class="form__link">или зарегистрироваться</a>
		</div>
	</form>
</div>
{{> footer}}
