{{> header}}

	<div class="title">Пункты выдачи</div>
	<div id="map" class="map"></div>
	<script type="text/javascript" src="/js/api.js" > </script>
	<script type="text/javascript" src="/js/map.js" ></script>
{{> footer}}
