{{> header}}
<div class="title">Аренда велосипеда</div>
	<div class="bike__list">
		{{#bikeInfo}}
			<div class="bike__rented">
				<div class="bike__img-wrapper">
					<img src="/images/{{img}}" alt="{{name}}" class="bike__img" width="248">
				</div>
				<div class="bike__info">
					<div class="bike__name bike__name_big">{{name}}</div>
					<div class="bike__text">Чтобы забрать велосипед введите код</div>
					<div class="bike__code">{{orderCode}}</div>
				</div>
			</div>
		{{/bikeInfo}}
	</div>
{{> footer}}
