{{> header}}
<div class="center">
	<h3 class="title">Регистрация</h3>
	<form method="post" class="form">
		<label for="login" class="form__text">Логин</label>
		<input type="text" class="form__input" id="login" name="login" value="{{ login }}">

		<label for="password1" class="form__text">Пароль</label>
		<input type="password" class="form__input" id="password1" name="password1">

		<label for="password2" class="form__text">Повторите пароль</label>
		<input type="password" class="form__input" id="password2" name="password2">
		{{#notEqualPasswordsError}}
			<p class="form__error">
				Пароли не совпадают
			</p>
		{{/notEqualPasswordsError}}
		{{#isEmptyValuesError}}
			<p class="form__error">
				Заполните все поля
			</p>
		{{/isEmptyValuesError}}
		<div class="form__submit-area">
			<button type="submit" class="button">Зарегистрироваться</button>
	  	<a class="form__link" href="/login">или войти</a>
		</div>
	</form>
</div>
{{> footer}}
